Singleton Design Pattern/Singleton Design Pattern/.vs/Singleton Design Pattern.slnx/DesignTimeBuild/.dtbcache.v2
Singleton Design Pattern/Singleton Design Pattern/.vs/Singleton Design Pattern.slnx/FileContentIndex/18d1905d-12b7-4d79-a82b-6b275fd225c1.vsidx
Singleton Design Pattern/Singleton Design Pattern/.vs/Singleton Design Pattern.slnx/FileContentIndex/1ae276c4-aa5d-43e8-aaf4-3f74333aec56.vsidx
Singleton Design Pattern/Singleton Design Pattern/.vs/Singleton Design Pattern.slnx/FileContentIndex/5e13516e-7422-4a0a-90c0-eedbc1ad5553.vsidx
Singleton Design Pattern/Singleton Design Pattern/.vs/Singleton Design Pattern.slnx/FileContentIndex/d025bb3d-1f71-457b-8dc4-74a93652e5cc.vsidx
*.db
*.json
*.db-shm
Singleton Design Pattern/Singleton Design Pattern/.vs/Singleton Design Pattern/CopilotIndices/18.6.39588.17144/CodeChunks.db-wal
Singleton Design Pattern/Singleton Design Pattern/.vs/Singleton Design Pattern/CopilotIndices/18.6.39588.17144/SemanticSymbols.db-wal
