## --- [1] C# / .NET / Visual Studio Code Build Outputs ---
[Bb]in/
[Oo]bj/

.dotnet/
project.lock.json
project.fragment.lock.json
artifacts/

## --- [2] VS Code Specific Files ---
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/
*.code-workspace

## --- [3] Rider / Visual Studio Temporary Files ---
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

## --- [4] Nuget Packages ---
*.nuget.props
*.nuget.targets
packages/

## --- [5] OS Specific (Windows / Mac) ---
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store